In [4]:
import pandas as pd
original_df = pd.read_csv('gwas_4_alz_original_results_final.csv')
results_df = pd.read_csv('gwas_4_alz_intermediate_files/merged_result_df.csv')
results_df = pd.read_csv('gwas_4_alz_result_files/filtered_snps_sd=0.0.csv')


original_df.head()

,Genomic Locus,Position (GRCh37),Lead variant,A1,A1 frequency,P,N,Match (Manual)
0,1,1:985377,rs113020870,T,0.0041,3.830000e-08,776379,N
1,2,1:207750568,rs679515,C,0.8200,2.420000e-25,762176,Y
2,3,2:106235428,rs115186657,C,0.0035,1.330000e-08,727537,N
3,4,2:127891427,rs4663105,C,0.4100,3.920000e-58,1078540,Y
4,5,2:234082577,rs7597763,C,0.4500,4.650000e-09,819541,Y

In [7]:
original_df ['pos'] = 
original_df['chr'] = 
original_df['left_border'] = original_df['Position (GRCh37)'] - 1000000
original_df['right_border'] = original_df['Position (GRCh37)'] + 1000000

ValueError: Unable to parse string "1:985377" at position 0

In [2]:
results_df.head()

,Unnamed: 0,pos,chr,p,snp,left_border,right_border
0,0,161187665,1,7.157343e-09,rs2070902,161097241,161185058
1,1,207750568,1,2.419694e-25,rs679515,207653395,207837946
2,2,127891427,2,6.723892e-55,rs4663105,127772047,127895487
3,3,234082577,2,1.887192e-08,rs7597763,233985913,234091158
4,4,11014822,4,5.039113e-13,rs4504245,10956511,11044972

In [1]:
print(set(results_df['snp']).intersection(set(original_df['rs_id'])))
print(len(set(results_df['snp']).intersection(set(original_df['rs_id']))))

NameError: name 'results_df' is not defined

def count_overlaps(df1, df2):
        
        overlap_count = 0
    
        # Iterate over all pairs of intervals
        for _, row1 in df1.iterrows():
            chr1 = int(row1['chr_x'])
            for _, row2 in df2.iterrows():
                chr2 = int(row2['chr_x'])
                # Check if the intervals overlap on the same chromosome
                if chr1==chr2 and row1['right_border'] >= row2['left_border'] and row1['left_border'] <= row2['right_border']:
                    overlap_count += 1
                    
        return overlap_count

count_overlaps(result_df, original_df)